<%=form_tag new_acces_path, :method => :get %>
<div id="Tube">
	
	<%if flash[:msg]%>
		<div id="Warning">
			<%=flash[:msg]%>
		</div>
	<%end%>
	<div id="TubeContent">
		<div id="AccessCode">
			<%=text_field_tag :access_code%>
		</div>
		<div id="Access">
			<%=image_submit_tag("bt_access.jpg")%>
		</div>
	</div>
</div>
</form>