<div id="MainBox">
	<div id="Salute">
		Bem Vindo <%=@manager.nickname%>_
	</div>
	
	<div id="Box" class="Passagem">
		<h1><%=image_tag("tit_passagem.gif")%></h1>
		
		<label>Vôo:</label> aa0000 <br />
		 <br />
		<label>ASSENTO:</label> 1a <br />
		 <br />
		<label>DE:</label> SÃO Paulo 07 Apr 2011 / 00:00 <br />
		 <br />
		<label>PARA:</label> SÃO PAULO 07 Apr 2011 / 00:00 <br />
		 <br />
		<label>Portão:</label> Confirmar no aeroporto <br />
		 <br />
		<span class="dezoito"><label>EMBARQUE:</label> 22:30 </span> <br />
		 <br />
		<span><%=image_tag("bt_print.gif")%></span>
	</div>
	
	<div id="Box" class="Hospedagem">
		<h1><%=image_tag("tit_hospedagem.gif")%></h1>
		
		<label>hotel:</label> aa0000 <br /> <br />
		<label>Cidade:</label> aa0000 <label>Estado:</label> SP <br /> <br />
		<label>Quarto:</label> aa0000 <br /> <br />
		<label>Entrada:</label> aa0000 <br /> <br />
		<label>Saída:</label> aa0000 <br /> <br />
		<label>Informações:</label><br /> aa0000 <br />
	</div>
	
	<div class="clear"></div>
</div>