<% title "Login" %>
 
<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    Nome do usuário<br />
    <%= f.text_field :username, :class => "FormAdm" %>
  </p>
  <p>
    Senha<br />
    <%= f.password_field :password, :class => "FormAdm" %>
  </p>
  <p><%= f.submit "Enviar" %></p>
<% end %>